<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>facebookhome</title>
  <link rel="stylesheet" href="app.component.scss">
</head>
<body>

  <!-- navigation bar -->
    <nav class="navigation">

      <!-- left navigation bar -->
      <div class="nav-left">
        <img src="assets/images/logo.png" class="logo">
        <div class="search-box">
          <img src="assets/images/search.png" class="search">
          <input type="text" placeholder="Search Facebook">
        </div>
      </div>

      <!-- centre navigation bar -->
      <div class="nav-centre">
        <ul>
          <li><img src="assets/images/homeicon.png"></li>
          <li><img src="assets/images/watchvideo.png"></li>
          <li><img src="assets/images/market.png"></li>
          <li><img src="assets/images/groups.png"></li>
          <li><img src="assets/images/gaming.png"></li>
        </ul>
      </div>

      <!-- right navigation bar -->
      <div class="nav-right">
        <ul>
          <li><img src="assets/images/dot-menu.png"></li>
          <li><img src="assets/images/messenger.png"></li>
          <li><img src="assets/images/notif.png"></li>

          <!-- <li><img class = "profile" src="assets/images/profile-pic.png"></li> -->
        </ul>
        <div class="profile-pic"><img src="assets/images/profile-pic.png"></div>
      </div>
    </nav>

    <!-- container -->
    <div class="container">

        <!-- left panel -->
        <div class="left-sidebar"></div>
            <div class="profile-pic">
            <ul>
                <li><img src="assets/images/profile-pic.png"> Chitti Babu </li>
            </ul>
            </div>

        <!-- middle content -->
        <div class="main-content"></div>

        <!-- right panel -->
        <div class="right-sidebar"></div>
    </div>
</body>
</html>